.header {
	text-align: center;
}

.header a:hover {
	text-decoration: none;
}

.content {
	padding: 4rem;	
	max-width: 150rem;
}

h2 {
	font-family: "Roboto Mono", serif;
	font-size: 2rem;
	font-weight: bold;
}

@media screen and (max-width: 600px){
	.content{
		padding: 2rem;
	}
}
