.content {
    font-family: 'Rubik', sans-serif;
}

.content h1 {
    font-weight: 400;
    font-size: 2.3rem;
}

.content .cards_container {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
}

.header {
    background-color: #212121;
    height: 100%;
    padding: 1rem;
}

.header h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.2rem;
    text-align: center;
    color: white;
    transition: font-size 0.1s;
    margin: 0rem;
}
@media screen and (max-width: 800px){
    .content .cards_container {
        grid-template-columns: repeat(1, 1fr);
    }

    .content h1 {
        font-size: 2rem;
    }
}