.content {
    font-family: 'Rubik', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

h5 > a {
    text-decoration: none;
    color: white;
}

h5 > a:hover {
    text-decoration: none;
    color: white;
}

.content h1 {
    font-weight: 400;
    font-size: 2.3rem;
}

.content .cards_container {
    margin-top: 50px;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 1rem;
    justify-items: left;
}

.card {
    width: 20rem;
    height: 25rem;
    overflow: scroll;
}

.header {
    background-color: #212121;
    height: 100%;
    padding: 1rem;
}

.pulsate {
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.5;
}

.description-box {
    display: flex;
    align-items: flex-end;
}

.plus_parent {
    background-color: lightgrey;
    font-weight: bold;
    padding: 3px 7px;
    border-radius: 3px;
    cursor: pointer;
}

.plus {
    display: inline-block;
    -moz-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

.description-text {
    display: none;
    min-height: 183px;
    max-height: 183px;
}

.plus.rotate {
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform: rotate(45deg);
}

.card-header {
    max-height: 66px;
}

.bottom_body {
    max-height: 183px;
}

.email_box {
  overflow-y: auto;
}

.email_list_item {
  margin: 0;
}

@-webkit-keyframes pulsate {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 3.0;
    }
    100% {
        opacity: 0.5;
    }
}

.header h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.2rem;
    text-align: center;
    color: white;
    transition: font-size 0.1s;
    margin: 0rem;
}

@media screen and (max-width: 1200px){
    .content {
        padding-left: 100px;
        padding-right: 100px;
    }

    .content .cards_container {
        grid-template-columns: repeat(2, 1fr);
    }

    .content h1 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 991px){
    .content {
        padding: 0px;
    }
}

@media screen and (max-width: 800px){
    .content {
        text-align: center;
    }

    .card {
        text-align: left;
    }

    .content .cards_container {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
    }
}
