/*  
CSS for the header and the navbar
Both index.html and hackathons.html use it
*/

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #000000;
    height: 100%;
    padding: 1rem;
}

.header h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.2rem;
    text-align: center;
    color: white;
    transition: font-size 0.1s;
    margin: 0rem;
}

.header h3 {
  font-family: "monospace";
  font-size: 1.5rem;
  text-align: center;
  color: white;
  margin: 0rem;
  -webkit-animation: pulsate 5s ease-out;
  -webkit-animation-iteration-count: infinite; 
  opacity: 1.2;
}
#login_button {
    position: absolute;
    right: 0;
}

#account_menu {
    position: relative;
    right: 0;
    text-align: right;
    background-color: #f5f5f5;
    display: inline-block;
}

#account_dropdown {
    padding-top: 1.5rem;
    display: none;
    flex-direction: row-reverse;
}

.account_dropdown_item {
    background-color: #a9a9a9;
    text-align: center;
    margin: 1rem;
    display: box;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    color: #101211;
}

.collapse-content .fa.fa-heart:hover {
    color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
    color: #0d47a1 !important;
}

/*-----------*/
* {
  box-sizing: border-box;
}

.nav {
  height: 50px;
  width: 100%;
  background-color: #a9a9a9;
  position: relative;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: red;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
  background-image: #09090909;
}

.nav > .nav-links {
  display: inline;
  float: left;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #090909;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }

  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #efefefef;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}
/*-----------*/
/* text-shine */
a.text-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@media screen and (max-width: 780px) {
    #login_button {
        position: relative;
    }

    #account_menu {
        position: relative;
        text-align: center;
    }

    #account_dropdown {
        position: absolute;
        background-color: #f5f5f5;
        padding: 0.6rem;
        padding-top: 1.5rem;
        margin-left: -1.35rem;
    }
}

@media screen and (max-width: 300px) {
    .header h1 {
        font-size: 1.4rem;
    }
}

@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.5;
        color: #b54545;
    }
    50% { 
        opacity: 1.0;
        color: #eb0e0e;
    }
    100% { 
        opacity: 0.5;
        color: #b54545;
    }
}