/*  
CSS for the header and the navbar
Both index.html and hackathons.html use it
*/

html {
    scroll-behavior: smooth;
}

.header {
    background-color: #212121;
    height: 100%;
    padding: 1rem;
}

.header h1 {
    font-family: "Share Tech Mono", monospace;
    font-size: 2.2rem;
    text-align: center;
    color: white;
    transition: font-size 0.1s;
    margin: 0rem;
}

.navbar {
    background-color: #f5f5f5;
    height: 100%;
    font-family: 'Roboto Mono', monospace;
    margin: 0rem;
    padding: 0rem;
}

.navbar ul {
    margin: 0rem;
    padding: 0rem;
    margin-left: 1rem;
}

.navbar ul li {
    list-style: none;
    display: block;
    cursor: pointer;
    padding: 0.6rem;
    float: left;
    margin-right: 1rem;
}

.navbar ul li a {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    text-decoration: none;
    color: black;
}

#login_button {
    position: absolute;
    right: 0;
}

#account_menu {
    position: absolute;
    right: 0;
    text-align: right;
    background-color: #f5f5f5;
}

#account_dropdown {
    padding-top: 1.5rem;
    display: none;
    flex-direction: column;
}

.account_dropdown_item {
    background-color: #f5f5f5;
    text-align: center;
    margin: 0.3rem;
    display: block;
}

.collapse-content .fa.fa-heart:hover {
  color: #f44336 !important;
}
.collapse-content .fa.fa-share-alt:hover {
  color: #0d47a1 !important;
}

/* text-shine */
a.text-shine:hover {
  -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
  -webkit-mask-size: 200%;
  animation: shine 1s infinite;
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  
  to {
    -webkit-mask-position: -50%;
  }
}

@media screen and (max-width: 780px) {
    #login_button {
        position: relative;
    }

    #account_menu {
        position: relative;
        text-align: center;
    }

    #account_dropdown {
        position: absolute;
        background-color: #f5f5f5;
        padding: 0.6rem;
        padding-top: 1.5rem;
        margin-left: -1.35rem;
    }
}

@media screen and (max-width: 300px) {
    .header h1 {
        font-size: 1.4rem;
    }
}