.home {
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 2rem;
}

.home .info {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
    font-size: 1.1rem;
}

.home .info h2 {
    font-weight: 400;
    margin-bottom: 1rem;
}


.home .links a {
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: black;
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
    border-radius: 0.5rem;
    width: fit-content;
}

.home .links .telegram {
    background-color: #2196fc;
}

.home .links .github {
    background-color: #212121;
}


/*----------  FAQ ------------->*/

.faq {
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Rubik', sans-serif;
}

.faq p {
    color: #212121;
}

/*--------- OUR TEAM ------------->*/

.team {
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Rubik', sans-serif;    
}

.team .grid {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}


/* ------------------ Contact ----------------->*/

.contact {
    margin-top: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    font-family: 'Rubik', sans-serif;
    color: #212121;
}

/* ---------- MOBILE COMPATIBILITY----------->*/

@media screen and (max-width: 1000px){
    .team .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 800px) {
    .home {
        grid-template-columns: repeat(1,1fr);
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media screen and (max-width: 600px){
    .faq {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .faq h4 {
        padding-left: 0rem;
    }
    
    .faq p {
        padding-left: 0rem;
    }
    
    .team {
        padding-left: 2rem;
        padding-right: 2rem;
    }
    
    .team .grid {
        padding-left: 0rem;
        padding-right: 0rem;
        grid-template-columns: repeat(1, 1fr);
    }
    
    .contact {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}